:root {
    --primary-color: #2196F3;
    --primary-color-light: #64B5F6;
    --primary-color-dark: #0D47A1;
    --button-color: #E0E0E0;
    --highlight-color: rgba(0, 0, 0, 0.04);
    --shadow-color: #696969;
    --light-theme-subtle-color: #0000008A;
    --header-height: 56px;
    --header-line-height: 48px;
    --footer-height: 32px;
    --floating-action-button-size: 48px;
    --options-menu-width: 250px;
    --button-transition-duration: 150ms;
    --menu-transition-duration: 200ms;
    --font-size-headline1: 96px;
    --font-size-headline2: 60px;
    --font-size-headline3: 48px;
    --font-size-headline4: 34px;
    --font-size-headline5: 24px;
    --font-size-headline6: 20px;
    --font-size-subtitle1: 16px;
    --font-size-caption: 12px;
    --font-size-button: 14px;
    --icon-size: 24px;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--header-height);
}

body {
    margin: 0px;
    padding: 0px 0px var(--footer-height) 0px;
    font-family: 'Google Sans', 'Segoe UI', 'Ubuntu', 'Helvetica Neue', sans-serif;
}

header {
    background-color: var(--primary-color);
    height: var(--header-height);
    line-height: var(--header-line-height);
    box-sizing: border-box;
    position: sticky;
    z-index: 2;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: calc((var(--header-height) - var(--header-line-height)) / 2) 16px;
    box-shadow: 0px 2px 6px var(--shadow-color);
}

#Title {
    box-sizing: border-box;
    float: left;
    color: #FFFFFF;
    font-weight: 600;
    font-size: var(--font-size-headline6);
    margin: 0px;
}

#Title a {
    text-decoration: none;
    color: inherit;
    cursor: default;
}

.ButtonBar {
    float: right;
}

#Actions a,
.Button {
    margin: 0px 8px;
    border-radius: 8px;
    cursor: default;
}

#Actions a:link,
#Actions a:visited,
.Button:link,
.Button:visited {
    text-decoration: none;
    font-weight: 600;
    color: #000000;
    padding: 8px;
    outline: none;
}

#Actions a {
    transition-property: color, border, background-color;
    transition-duration: var(--button-transition-duration);
    transition-timing-function: ease-out;
    border-style: solid;
    border-width: 2px;
}

#Actions a:link,
a:visited {
    border-color: #00000000;
    /*transparent*/
}

#Actions a:hover,
#Actions a:focus {
    border-color: var(--primary-color-light);
    color: #FFFFFF;
}

#Actions a:active {
    border-style: groove;
    border-color: var(--primary-color-dark);
    color: #000000;
    background-color: var(--primary-color-light);
    outline: none;
}

#Actions .All-Actions i {
    display: none;
    font-size: var(--font-size-headline5);
    vertical-align: middle;
}

#Options {
    float: right;
    position: relative;
    margin-left: 8px;
}

#Avatar,
#Avatar:visited {
    display: block;
    border-radius: var(--floating-action-button-size);
    height: var(--floating-action-button-size);
    width: var(--floating-action-button-size);
    margin: 0px 0px 8px;
    padding: 8px;
    transition-property: box-shadow;
    transition-duration: var(--button-transition-duration);
    transition-timing-function: ease-out;
    border-style: none;
    outline: 0 !important;
    text-align: center;
    font-size: var(--font-size-headline5);
    background-color: var(--button-color);
    background-image: url(../assets/avatar.jpg);
    background-size: cover;
}

#Options:focus {
    outline: none;
}

#Options:hover #Avatar,
#Options:focus-within #Avatar {
    box-shadow: 0px 2px 15px 2px var(--shadow-color);
}

#Options:hover #More-Options,
#Options:focus-within>#More-Options {
    visibility: visible;
    opacity: 1;
}

#Avatar:active {
    box-shadow: none;
}

#Avatar:focus {
    outline: none;
}

#Avatar::-moz-focus-inner {
    border: 0;
}

#More-Options {
    transition-property: opacity;
    transition-duration: var(--menu-transition-duration);
    transition-timing-function: ease-out;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    overflow: auto;
    right: 0;
    background-color: #FFFFFF;
    min-width: var(--options-menu-width);
    border-radius: 6px;
    padding: 8px;
    box-shadow: 0px 2px 15px var(--shadow-color);
}

#More-Options .Options-Item {
    display: block;
    text-decoration: none;
    color: #000000;
    cursor: default;
}

#More-Options .Options-All-Items {
    display: none;
    cursor: default;
}

main {
    padding: 8px;
}

main a:link,
a:visited {
    text-decoration: none;
    color: #000000;
}

main a:hover {
    text-decoration-line: underline;
    text-decoration-color: #000000;
}

.Button {
    font-size: var(--font-size-button);
    text-transform: uppercase;
    letter-spacing: 1.25px;
    background-color: var(--button-color);
    transition-property: box-shadow, background-color;
    transition-duration: var(--button-transition-duration);
    transition-timing-function: ease-out;
    box-shadow: 0px 2px 4px var(--shadow-color);
}

.Button:hover,
.Button:focus {
    box-shadow: 0px 2px 8px 2px var(--shadow-color);
    background-color: var(--highlight-color);
}

.Button:active {
    box-shadow: 0px 2px 5px var(--shadow-color);
    background-color: var(--primary-color-light);
}

footer {
    height: var(--footer-height);
    box-sizing: border-box;
    text-align: center;
    background-color: var(--primary-color);
    color: #000000;
    font-weight: 600;
    position: fixed;
    z-index: 1;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 8px;
    box-shadow: 0px -2px 6px var(--shadow-color);
}

.Options-Item {
    margin: 2px 0px;
    text-align: left;
    font-size: var(--font-size-subtitle1);
}

.Options-Item i {
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: top;
    line-height: 32px;
    font-size: var(--icon-size);
    padding: 8px;
}

.caption,
footer {
    font-size: var(--font-size-caption);
    line-height: var(--font-size-caption);
}

#WIP {
    font-style: oblique;
}